name: CI Pipeline

on: [push, pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Quality Check
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn -f patient-manager/pom.xml clean install -DskipTests

    - name: Run unit tests
      run: mvn -f patient-manager/pom.xml test -Punit-tests