name: Quality Check (repository)

on: [push, pull_request]

jobs:
  quality-check:
    runs-on: ubuntu-latest

    steps:
    - name: Check Code Quality
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn -f patient-manager/pom.xml clean install -DskipTests

    - name: Run unit tests
      run: mvn -f patient-manager/pom.xml test -Punit-tests

    - name: Run integration tests
      run: mvn -f patient-manager/pom.xml verify -Pintegration-tests

    - name: Build Docker image
      run: docker build . -t brunobgf/patient-management-system:${{ github.sha }}

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Push Docker image
      run: docker push brunobgf/patient-management-system:${{ github.sha }}